--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: achievement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.achievement (
    achievementid bigint NOT NULL,
    achievement_type character varying(255) NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    description character varying(255),
    icon_url character varying(255),
    milestone_value numeric(38,2) NOT NULL,
    achievement_name character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone,
    CONSTRAINT achievement_achievement_type_check CHECK (((achievement_type)::text = ANY ((ARRAY['DAYS_QUIT'::character varying, 'MONEY_SAVED'::character varying, 'CIGARETTES_NOT_SMOKED'::character varying, 'CRAVING_RESISTED'::character varying, 'DAILY'::character varying, 'WEEKLY_GOAL'::character varying, 'GOAL_STREAK'::character varying, 'RESILIENCE'::character varying, 'HEALTH'::character varying, 'SPECIAL'::character varying, 'SOCIAL'::character varying])::text[])))
);


ALTER TABLE public.achievement OWNER TO postgres;

--
-- Name: achievement_achievementid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.achievement ALTER COLUMN achievementid ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.achievement_achievementid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: appointment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.appointment (
    appointment_id bigint NOT NULL,
    actual_end_time timestamp(6) without time zone,
    actual_start_time timestamp(6) without time zone,
    agora_channel_name character varying(255),
    booking_time timestamp(6) without time zone NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    note text,
    status character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    schedule_id bigint NOT NULL,
    member_id uuid NOT NULL,
    CONSTRAINT appointment_status_check CHECK (((status)::text = ANY ((ARRAY['CONFIRMED'::character varying, 'COMPLETED'::character varying, 'CANCELLED'::character varying, 'MISSED'::character varying])::text[])))
);


ALTER TABLE public.appointment OWNER TO postgres;

--
-- Name: appointment_appointment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.appointment ALTER COLUMN appointment_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.appointment_appointment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: blogs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.blogs (
    blog_id integer NOT NULL,
    approved_at timestamp(6) without time zone,
    content text NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    image_url character varying(255),
    is_deleted boolean NOT NULL,
    last_updated timestamp(6) without time zone,
    status character varying(255),
    title character varying(255) NOT NULL,
    approved_by uuid,
    author_id uuid NOT NULL,
    CONSTRAINT blogs_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'PUBLISHED'::character varying, 'REJECTED'::character varying])::text[])))
);


ALTER TABLE public.blogs OWNER TO postgres;

--
-- Name: blogs_blog_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.blogs ALTER COLUMN blog_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.blogs_blog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: challenge; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.challenge (
    challengeid integer NOT NULL,
    challenge_name character varying(100) NOT NULL,
    description text,
    end_date date,
    start_date date,
    status character varying(50),
    target_value numeric(10,2),
    unit character varying(50),
    memberid uuid NOT NULL
);


ALTER TABLE public.challenge OWNER TO postgres;

--
-- Name: challenge_challengeid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.challenge ALTER COLUMN challengeid ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.challenge_challengeid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: coach; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.coach (
    coach_id uuid NOT NULL,
    coach_bio text,
    full_name character varying(255) NOT NULL,
    rating numeric(3,2)
);


ALTER TABLE public.coach OWNER TO postgres;

--
-- Name: coach_schedule; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.coach_schedule (
    schedule_id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    is_booked boolean NOT NULL,
    is_deleted boolean NOT NULL,
    schedule_date date NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    coach_id uuid NOT NULL,
    timeslot_id integer NOT NULL
);


ALTER TABLE public.coach_schedule OWNER TO postgres;

--
-- Name: coach_schedule_schedule_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.coach_schedule ALTER COLUMN schedule_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.coach_schedule_schedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: coach_specialties; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.coach_specialties (
    coach_id uuid NOT NULL,
    specialty character varying(255),
    CONSTRAINT coach_specialties_specialty_check CHECK (((specialty)::text = ANY ((ARRAY['BEHAVIORAL_THERAPY'::character varying, 'NRT_GUIDANCE'::character varying, 'STRESS_MANAGEMENT'::character varying, 'RELAPSE_PREVENTION'::character varying, 'MOTIVATION_MINDSET'::character varying, 'VAPING_CESSATION'::character varying, 'YOUTH_CESSATION'::character varying])::text[])))
);


ALTER TABLE public.coach_specialties OWNER TO postgres;

--
-- Name: comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comments (
    comment_id integer NOT NULL,
    comment_date timestamp(6) without time zone NOT NULL,
    content text NOT NULL,
    is_deleted boolean NOT NULL,
    blog_id integer NOT NULL,
    parent_comment_id integer,
    user_id uuid NOT NULL
);


ALTER TABLE public.comments OWNER TO postgres;

--
-- Name: comments_comment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.comments ALTER COLUMN comment_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.comments_comment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: craving_trackings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.craving_trackings (
    craving_trackingid integer NOT NULL,
    cravings_count integer,
    situations jsonb,
    smoked_count integer,
    track_time timestamp(6) without time zone NOT NULL,
    with_whoms jsonb,
    daily_summaryid integer NOT NULL,
    CONSTRAINT craving_trackings_cravings_count_check CHECK ((cravings_count >= 0)),
    CONSTRAINT craving_trackings_smoked_count_check CHECK ((smoked_count >= 0))
);


ALTER TABLE public.craving_trackings OWNER TO postgres;

--
-- Name: craving_trackings_craving_trackingid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.craving_trackings ALTER COLUMN craving_trackingid ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.craving_trackings_craving_trackingid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: daily_summary; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.daily_summary (
    daily_summaryid integer NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    is_goal_achieved boolean NOT NULL,
    manual_craving_count integer,
    manual_smoked_count integer,
    money_saved numeric(38,2),
    mood character varying(20),
    note text,
    total_craving_count integer,
    total_smoked_count integer,
    track_date date NOT NULL,
    tracked_craving_count integer,
    tracked_smoked_count integer,
    updated_at timestamp(6) without time zone,
    quit_planid integer NOT NULL,
    CONSTRAINT daily_summary_manual_craving_count_check CHECK ((manual_craving_count >= 0)),
    CONSTRAINT daily_summary_manual_smoked_count_check CHECK ((manual_smoked_count >= 0)),
    CONSTRAINT daily_summary_mood_check CHECK (((mood)::text = ANY ((ARRAY['STRESSED'::character varying, 'BORED'::character varying, 'ANXIOUS'::character varying, 'ANGRY'::character varying, 'SAD'::character varying, 'HAPPY'::character varying, 'RELAXED'::character varying, 'ANNOYED'::character varying, 'DEPRESSED'::character varying, 'DISSAPOINTED'::character varying, 'DISCOURAGED'::character varying, 'DOWN'::character varying, 'FRUSTATED'::character varying, 'HUNGRY'::character varying, 'LONELY'::character varying, 'TIRED'::character varying, 'UNCOMFORTABLE'::character varying, 'UNHAPPY'::character varying, 'UNSATISFIED'::character varying, 'UPSET'::character varying, 'EXCITED'::character varying, 'WORRIED'::character varying, 'OTHER'::character varying])::text[]))),
    CONSTRAINT daily_summary_total_craving_count_check CHECK ((total_craving_count >= 0)),
    CONSTRAINT daily_summary_total_smoked_count_check CHECK ((total_smoked_count >= 0)),
    CONSTRAINT daily_summary_tracked_craving_count_check CHECK ((tracked_craving_count >= 0)),
    CONSTRAINT daily_summary_tracked_smoked_count_check CHECK ((tracked_smoked_count >= 0))
);


ALTER TABLE public.daily_summary OWNER TO postgres;

--
-- Name: daily_summary_daily_summaryid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.daily_summary ALTER COLUMN daily_summaryid ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.daily_summary_daily_summaryid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: fcm_token; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fcm_token (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    token character varying(512) NOT NULL,
    user_id uuid NOT NULL
);


ALTER TABLE public.fcm_token OWNER TO postgres;

--
-- Name: fcm_token_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.fcm_token ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.fcm_token_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: follows; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.follows (
    followed_id uuid NOT NULL,
    follower_id uuid NOT NULL,
    created_at timestamp(6) without time zone NOT NULL
);


ALTER TABLE public.follows OWNER TO postgres;

--
-- Name: health_metrics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.health_metrics (
    id uuid NOT NULL,
    achieved_date timestamp(6) without time zone,
    created_at timestamp(6) without time zone NOT NULL,
    current_progress double precision NOT NULL,
    description text,
    has_regressed boolean NOT NULL,
    is_completed boolean NOT NULL,
    metric_type character varying(255) NOT NULL,
    target_date timestamp(6) without time zone NOT NULL,
    time_remaining_hours double precision,
    updated_at timestamp(6) without time zone NOT NULL,
    user_id uuid NOT NULL
);


ALTER TABLE public.health_metrics OWNER TO postgres;

--
-- Name: member; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.member (
    memberid uuid NOT NULL,
    streak integer NOT NULL,
    CONSTRAINT member_streak_check CHECK ((streak >= 0))
);


ALTER TABLE public.member OWNER TO postgres;

--
-- Name: member_achievement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.member_achievement (
    member_achievementid bigint NOT NULL,
    achievementid bigint NOT NULL,
    date_achieved timestamp(6) without time zone NOT NULL,
    is_shared boolean NOT NULL,
    memberid uuid NOT NULL
);


ALTER TABLE public.member_achievement OWNER TO postgres;

--
-- Name: member_achievement_member_achievementid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.member_achievement ALTER COLUMN member_achievementid ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.member_achievement_member_achievementid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notification (
    notificationid bigint NOT NULL,
    content character varying(255),
    created_at timestamp(6) without time zone,
    from_userid uuid,
    is_read boolean,
    notification_type character varying(255),
    title character varying(255),
    userid uuid
);


ALTER TABLE public.notification OWNER TO postgres;

--
-- Name: notification_notificationid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.notification ALTER COLUMN notificationid ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notification_notificationid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: option; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.option (
    optionid integer NOT NULL,
    content character varying(255) NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    is_correct boolean NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    created_by_adminid uuid NOT NULL,
    quizid uuid NOT NULL
);


ALTER TABLE public.option OWNER TO postgres;

--
-- Name: option_optionid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.option ALTER COLUMN optionid ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.option_optionid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_reset_tokens (
    id uuid NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    email character varying(255) NOT NULL,
    expiry_date timestamp(6) without time zone NOT NULL,
    token character varying(255) NOT NULL,
    used boolean NOT NULL
);


ALTER TABLE public.password_reset_tokens OWNER TO postgres;

--
-- Name: plan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.plan (
    planid integer NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    description text,
    duration_value integer NOT NULL,
    plan_name character varying(50) NOT NULL,
    price numeric(12,2) NOT NULL,
    updated_at timestamp(6) without time zone,
    CONSTRAINT plan_duration_value_check CHECK ((duration_value >= 1)),
    CONSTRAINT plan_plan_name_check CHECK (((plan_name)::text = ANY ((ARRAY['STANDARD_14D'::character varying, 'POPULAR_30D'::character varying, 'SUPER_90D'::character varying])::text[])))
);


ALTER TABLE public.plan OWNER TO postgres;

--
-- Name: plan_planid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.plan ALTER COLUMN planid ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.plan_planid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: programs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.programs (
    program_id integer NOT NULL,
    content_url character varying(255),
    created_at timestamp(6) without time zone NOT NULL,
    description text,
    last_update timestamp(6) without time zone,
    program_image character varying(255),
    program_name character varying(100),
    program_title character varying(255) NOT NULL,
    program_type character varying(50),
    created_by_user_id uuid NOT NULL,
    CONSTRAINT programs_program_type_check CHECK (((program_type)::text = ANY ((ARRAY['BEGINNER'::character varying, 'INTERMEDIATE'::character varying, 'ADVANCED'::character varying, 'MEDITATION'::character varying, 'EXERCISE'::character varying, 'NUTRITION'::character varying, 'PSYCHOLOGY'::character varying, 'SUPPORT_GROUP'::character varying, 'EDUCATIONAL'::character varying, 'MOTIVATIONAL'::character varying])::text[])))
);


ALTER TABLE public.programs OWNER TO postgres;

--
-- Name: programs_program_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.programs ALTER COLUMN program_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.programs_program_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: qualification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.qualification (
    qualification_name character varying(255) NOT NULL,
    approve_by character varying(36),
    is_approved boolean NOT NULL,
    issuing_organization character varying(255),
    qualification_url character varying(512),
    request_update_date timestamp(6) without time zone NOT NULL,
    coach_id uuid NOT NULL
);


ALTER TABLE public.qualification OWNER TO postgres;

--
-- Name: quit_plan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quit_plan (
    quit_planid integer NOT NULL,
    price_per_pack numeric(8,2),
    cigarettes_per_pack integer,
    created_at timestamp(6) without time zone NOT NULL,
    goal_date date NOT NULL,
    initial_smoking_amount integer NOT NULL,
    reduction_type character varying(20) NOT NULL,
    start_date timestamp(6) without time zone NOT NULL,
    status character varying(20) NOT NULL,
    memberid uuid NOT NULL,
    CONSTRAINT quit_plan_cigarettes_per_pack_check CHECK (((cigarettes_per_pack <= 50) AND (cigarettes_per_pack >= 1))),
    CONSTRAINT quit_plan_initial_smoking_amount_check CHECK (((initial_smoking_amount >= 0) AND (initial_smoking_amount <= 500))),
    CONSTRAINT quit_plan_reduction_type_check CHECK (((reduction_type)::text = ANY ((ARRAY['IMMEDIATE'::character varying, 'LINEAR'::character varying, 'EXPONENTIAL'::character varying, 'LOGARITHMIC'::character varying])::text[]))),
    CONSTRAINT quit_plan_status_check CHECK (((status)::text = ANY ((ARRAY['COMPLETED'::character varying, 'IN_PROGRESS'::character varying, 'NOT_STARTED'::character varying, 'FAILED'::character varying])::text[])))
);


ALTER TABLE public.quit_plan OWNER TO postgres;

--
-- Name: quit_plan_quit_planid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.quit_plan ALTER COLUMN quit_planid ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.quit_plan_quit_planid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: quiz; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quiz (
    quizid uuid NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    description text,
    title character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    created_by_adminid uuid NOT NULL
);


ALTER TABLE public.quiz OWNER TO postgres;

--
-- Name: subscription; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subscription (
    subscriptionid bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    end_date timestamp(6) without time zone NOT NULL,
    is_active boolean NOT NULL,
    start_date timestamp(6) without time zone NOT NULL,
    updated_at timestamp(6) without time zone,
    planid integer NOT NULL,
    userid uuid NOT NULL
);


ALTER TABLE public.subscription OWNER TO postgres;

--
-- Name: subscription_subscriptionid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.subscription ALTER COLUMN subscriptionid ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.subscription_subscriptionid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: time_slot; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.time_slot (
    timeslot_id integer NOT NULL,
    end_time time(6) without time zone NOT NULL,
    is_deleted boolean NOT NULL,
    label character varying(50) NOT NULL,
    start_time time(6) without time zone NOT NULL
);


ALTER TABLE public.time_slot OWNER TO postgres;

--
-- Name: time_slot_timeslot_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.time_slot ALTER COLUMN timeslot_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.time_slot_timeslot_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tip; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tip (
    tipid uuid NOT NULL,
    content text NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    updated_at timestamp(6) without time zone,
    created_by_userid uuid NOT NULL
);


ALTER TABLE public.tip OWNER TO postgres;

--
-- Name: token_blacklist; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.token_blacklist (
    id uuid NOT NULL,
    expiration_time timestamp(6) with time zone NOT NULL,
    jti character varying(255) NOT NULL
);


ALTER TABLE public.token_blacklist OWNER TO postgres;

--
-- Name: transaction; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transaction (
    transactionid uuid NOT NULL,
    amount numeric(12,2) NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    external_transaction_id character varying(255),
    payment_gateway_response jsonb,
    payment_method character varying(50) NOT NULL,
    status character varying(255) NOT NULL,
    transaction_date timestamp(6) without time zone NOT NULL,
    updated_at timestamp(6) without time zone,
    planid integer NOT NULL,
    subscriptionid bigint,
    userid uuid NOT NULL,
    CONSTRAINT transaction_status_check CHECK (((status)::text = ANY ((ARRAY['SUCCESS'::character varying, 'PENDING'::character varying, 'FAILED'::character varying, 'CANCELED'::character varying])::text[])))
);


ALTER TABLE public.transaction OWNER TO postgres;

--
-- Name: transaction_method; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transaction_method (
    transaction_methodid integer NOT NULL,
    description text,
    is_active boolean NOT NULL,
    method_name character varying(100) NOT NULL
);


ALTER TABLE public.transaction_method OWNER TO postgres;

--
-- Name: transaction_method_transaction_methodid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.transaction_method ALTER COLUMN transaction_methodid ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.transaction_method_transaction_methodid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_oauth_accounts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_oauth_accounts (
    oauth_id character varying(255) NOT NULL,
    oauth_provider character varying(50) NOT NULL,
    user_id uuid NOT NULL,
    created_at timestamp(6) without time zone NOT NULL
);


ALTER TABLE public.user_oauth_accounts OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    userid uuid NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    email character varying(100) NOT NULL,
    is_active boolean NOT NULL,
    notification_setting jsonb NOT NULL,
    password_hash character varying(255) NOT NULL,
    profile_picture character varying(500),
    role character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone,
    username character varying(50) NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['SUPER_ADMIN'::character varying, 'CONTENT_ADMIN'::character varying, 'COACH'::character varying, 'NORMAL_MEMBER'::character varying, 'PREMIUM_MEMBER'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: weekly_goal; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.weekly_goal (
    weekly_goal_id bigint NOT NULL,
    actual_craving_resistance integer,
    actual_smoked_count integer,
    completed_at timestamp(6) without time zone,
    created_at timestamp(6) without time zone NOT NULL,
    difficulty_level character varying(20),
    goal_type character varying(30),
    is_achieved boolean NOT NULL,
    notes text,
    progress_percentage numeric(5,2),
    reward_points integer,
    target_craving_resistance integer NOT NULL,
    target_smoked_count integer NOT NULL,
    updated_at timestamp(6) without time zone,
    week_end_date date NOT NULL,
    week_start_date date NOT NULL,
    quit_plan_id integer NOT NULL,
    CONSTRAINT weekly_goal_actual_craving_resistance_check CHECK ((actual_craving_resistance >= 0)),
    CONSTRAINT weekly_goal_actual_smoked_count_check CHECK ((actual_smoked_count >= 0)),
    CONSTRAINT weekly_goal_difficulty_level_check CHECK (((difficulty_level)::text = ANY ((ARRAY['EASY'::character varying, 'NORMAL'::character varying, 'HARD'::character varying, 'EXTREME'::character varying])::text[]))),
    CONSTRAINT weekly_goal_goal_type_check CHECK (((goal_type)::text = ANY ((ARRAY['REDUCTION'::character varying, 'RESISTANCE'::character varying, 'COMBINED'::character varying, 'MAINTENANCE'::character varying])::text[]))),
    CONSTRAINT weekly_goal_reward_points_check CHECK ((reward_points >= 0)),
    CONSTRAINT weekly_goal_target_craving_resistance_check CHECK ((target_craving_resistance >= 0)),
    CONSTRAINT weekly_goal_target_smoked_count_check CHECK (((target_smoked_count >= 0) AND (target_smoked_count <= 500)))
);


ALTER TABLE public.weekly_goal OWNER TO postgres;

--
-- Name: weekly_goal_weekly_goal_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.weekly_goal ALTER COLUMN weekly_goal_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.weekly_goal_weekly_goal_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: achievement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.achievement (achievementid, achievement_type, created_at, description, icon_url, milestone_value, achievement_name, updated_at) FROM stdin;
\.


--
-- Data for Name: appointment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.appointment (appointment_id, actual_end_time, actual_start_time, agora_channel_name, booking_time, created_at, note, status, updated_at, schedule_id, member_id) FROM stdin;
\.


--
-- Data for Name: blogs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.blogs (blog_id, approved_at, content, created_at, image_url, is_deleted, last_updated, status, title, approved_by, author_id) FROM stdin;
\.


--
-- Data for Name: challenge; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.challenge (challengeid, challenge_name, description, end_date, start_date, status, target_value, unit, memberid) FROM stdin;
\.


--
-- Data for Name: coach; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.coach (coach_id, coach_bio, full_name, rating) FROM stdin;
\.


--
-- Data for Name: coach_schedule; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.coach_schedule (schedule_id, created_at, is_booked, is_deleted, schedule_date, updated_at, coach_id, timeslot_id) FROM stdin;
\.


--
-- Data for Name: coach_specialties; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.coach_specialties (coach_id, specialty) FROM stdin;
\.


--
-- Data for Name: comments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comments (comment_id, comment_date, content, is_deleted, blog_id, parent_comment_id, user_id) FROM stdin;
\.


--
-- Data for Name: craving_trackings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.craving_trackings (craving_trackingid, cravings_count, situations, smoked_count, track_time, with_whoms, daily_summaryid) FROM stdin;
\.


--
-- Data for Name: daily_summary; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.daily_summary (daily_summaryid, created_at, is_goal_achieved, manual_craving_count, manual_smoked_count, money_saved, mood, note, total_craving_count, total_smoked_count, track_date, tracked_craving_count, tracked_smoked_count, updated_at, quit_planid) FROM stdin;
9	2025-08-04 19:57:42.728003	f	1	0	45000.00	\N	\N	1	0	2025-08-04	0	0	2025-08-04 20:39:38.493071	1
\.


--
-- Data for Name: fcm_token; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.fcm_token (id, created_at, token, user_id) FROM stdin;
\.


--
-- Data for Name: follows; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.follows (followed_id, follower_id, created_at) FROM stdin;
\.


--
-- Data for Name: health_metrics; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: member; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.member (memberid, streak) FROM stdin;
5c489406-becf-4c26-b70e-958043684667	0
\.


--
-- Data for Name: member_achievement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.member_achievement (member_achievementid, achievementid, date_achieved, is_shared, memberid) FROM stdin;
\.


--
-- Data for Name: notification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notification (notificationid, content, created_at, from_userid, is_read, notification_type, title, userid) FROM stdin;
\.


--
-- Data for Name: option; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.option (optionid, content, created_at, is_correct, updated_at, created_by_adminid, quizid) FROM stdin;
\.


--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.password_reset_tokens (id, created_at, email, expiry_date, token, used) FROM stdin;
\.


--
-- Data for Name: plan; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.plan (planid, created_at, description, duration_value, plan_name, price, updated_at) FROM stdin;
1	2025-08-04 17:41:27.896657	M├┤ tß║ú cho g├│i Ti├¬u chuß║⌐n 14 ng├áy	14	STANDARD_14D	119000.00	\N
2	2025-08-04 17:41:28.263926	M├┤ tß║ú cho g├│i Phß╗ò biß║┐n 30 ng├áy	30	POPULAR_30D	209000.00	\N
3	2025-08-04 17:41:28.283961	M├┤ tß║ú cho g├│i Cao cß║Ñp 90 ng├áy	90	SUPER_90D	499000.00	\N
\.


--
-- Data for Name: programs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.programs (program_id, content_url, created_at, description, last_update, program_image, program_name, program_title, program_type, created_by_user_id) FROM stdin;
\.


--
-- Data for Name: qualification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.qualification (qualification_name, approve_by, is_approved, issuing_organization, qualification_url, request_update_date, coach_id) FROM stdin;
\.


--
-- Data for Name: quit_plan; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.quit_plan (quit_planid, price_per_pack, cigarettes_per_pack, created_at, goal_date, initial_smoking_amount, reduction_type, start_date, status, memberid) FROM stdin;
1	45000.00	20	2025-08-04 17:55:47	2025-10-02	20	EXPONENTIAL	2025-08-04 00:00:00	IN_PROGRESS	5c489406-becf-4c26-b70e-958043684667
\.


--
-- Data for Name: quiz; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.quiz (quizid, created_at, description, title, updated_at, created_by_adminid) FROM stdin;
\.


--
-- Data for Name: subscription; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.subscription (subscriptionid, created_at, end_date, is_active, start_date, updated_at, planid, userid) FROM stdin;
1	2025-08-04 18:00:54.860345	2025-09-03 18:00:54.842788	t	2025-08-04 18:00:54.842788	\N	2	5c489406-becf-4c26-b70e-958043684667
\.


--
-- Data for Name: time_slot; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.time_slot (timeslot_id, end_time, is_deleted, label, start_time) FROM stdin;
\.


--
-- Data for Name: tip; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tip (tipid, content, created_at, updated_at, created_by_userid) FROM stdin;
\.


--
-- Data for Name: token_blacklist; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.token_blacklist (id, expiration_time, jti) FROM stdin;
9d8b4f7e-ee81-4b0c-924b-63d68db60972	2025-08-04 18:55:18+07	76e3b1d8-c809-4f9c-954f-ece4bdd4dcdb
74238f5a-2635-4881-b5a2-a0ccd7ae424c	2025-08-04 19:51:08+07	c6850600-beba-4634-b0e2-1e7deae5c026
24c3acac-9e1d-44c2-8797-9169f5d579aa	2025-08-04 20:46:43+07	b0d62e19-afea-4232-9c63-0d1b3e58810c
\.


--
-- Data for Name: transaction; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: transaction_method; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.transaction_method (transaction_methodid, description, is_active, method_name) FROM stdin;
\.


--
-- Data for Name: user_oauth_accounts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_oauth_accounts (oauth_id, oauth_provider, user_id, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: weekly_goal; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.weekly_goal (weekly_goal_id, actual_craving_resistance, actual_smoked_count, completed_at, created_at, difficulty_level, goal_type, is_achieved, notes, progress_percentage, reward_points, target_craving_resistance, target_smoked_count, updated_at, week_end_date, week_start_date, quit_plan_id) FROM stdin;
\.


--
-- Name: achievement_achievementid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.achievement_achievementid_seq', 1, false);


--
-- Name: appointment_appointment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.appointment_appointment_id_seq', 1, false);


--
-- Name: blogs_blog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.blogs_blog_id_seq', 1, false);


--
-- Name: challenge_challengeid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.challenge_challengeid_seq', 1, false);


--
-- Name: coach_schedule_schedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.coach_schedule_schedule_id_seq', 1, false);


--
-- Name: comments_comment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.comments_comment_id_seq', 1, false);


--
-- Name: craving_trackings_craving_trackingid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.craving_trackings_craving_trackingid_seq', 1, true);


--
-- Name: daily_summary_daily_summaryid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.daily_summary_daily_summaryid_seq', 9, true);


--
-- Name: fcm_token_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fcm_token_id_seq', 1, false);


--
-- Name: member_achievement_member_achievementid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.member_achievement_member_achievementid_seq', 1, false);


--
-- Name: notification_notificationid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notification_notificationid_seq', 1, false);


--
-- Name: option_optionid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.option_optionid_seq', 1, false);


--
-- Name: plan_planid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.plan_planid_seq', 3, true);


--
-- Name: programs_program_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.programs_program_id_seq', 1, false);


--
-- Name: quit_plan_quit_planid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.quit_plan_quit_planid_seq', 1, true);


--
-- Name: subscription_subscriptionid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.subscription_subscriptionid_seq', 1, true);


--
-- Name: time_slot_timeslot_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.time_slot_timeslot_id_seq', 1, false);


--
-- Name: transaction_method_transaction_methodid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.transaction_method_transaction_methodid_seq', 1, false);


--
-- Name: weekly_goal_weekly_goal_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.weekly_goal_weekly_goal_id_seq', 1, false);


--
-- Name: achievement achievement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.achievement
    ADD CONSTRAINT achievement_pkey PRIMARY KEY (achievementid);


--
-- Name: appointment appointment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.appointment
    ADD CONSTRAINT appointment_pkey PRIMARY KEY (appointment_id);


--
-- Name: blogs blogs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.blogs
    ADD CONSTRAINT blogs_pkey PRIMARY KEY (blog_id);


--
-- Name: challenge challenge_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.challenge
    ADD CONSTRAINT challenge_pkey PRIMARY KEY (challengeid);


--
-- Name: coach coach_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coach
    ADD CONSTRAINT coach_pkey PRIMARY KEY (coach_id);


--
-- Name: coach_schedule coach_schedule_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coach_schedule
    ADD CONSTRAINT coach_schedule_pkey PRIMARY KEY (schedule_id);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (comment_id);


--
-- Name: craving_trackings craving_trackings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.craving_trackings
    ADD CONSTRAINT craving_trackings_pkey PRIMARY KEY (craving_trackingid);


--
-- Name: daily_summary daily_summary_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_summary
    ADD CONSTRAINT daily_summary_pkey PRIMARY KEY (daily_summaryid);


--
-- Name: fcm_token fcm_token_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fcm_token
    ADD CONSTRAINT fcm_token_pkey PRIMARY KEY (id);


--
-- Name: follows follows_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_pkey PRIMARY KEY (followed_id, follower_id);


--
-- Name: health_metrics health_metrics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.health_metrics
    ADD CONSTRAINT health_metrics_pkey PRIMARY KEY (id);


--
-- Name: member_achievement member_achievement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member_achievement
    ADD CONSTRAINT member_achievement_pkey PRIMARY KEY (member_achievementid);


--
-- Name: member member_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member
    ADD CONSTRAINT member_pkey PRIMARY KEY (memberid);


--
-- Name: notification notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification
    ADD CONSTRAINT notification_pkey PRIMARY KEY (notificationid);


--
-- Name: option option_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.option
    ADD CONSTRAINT option_pkey PRIMARY KEY (optionid);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: plan plan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plan
    ADD CONSTRAINT plan_pkey PRIMARY KEY (planid);


--
-- Name: programs programs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.programs
    ADD CONSTRAINT programs_pkey PRIMARY KEY (program_id);


--
-- Name: qualification qualification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qualification
    ADD CONSTRAINT qualification_pkey PRIMARY KEY (coach_id, qualification_name);


--
-- Name: quit_plan quit_plan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quit_plan
    ADD CONSTRAINT quit_plan_pkey PRIMARY KEY (quit_planid);


--
-- Name: quiz quiz_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz
    ADD CONSTRAINT quiz_pkey PRIMARY KEY (quizid);


--
-- Name: subscription subscription_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscription
    ADD CONSTRAINT subscription_pkey PRIMARY KEY (subscriptionid);


--
-- Name: time_slot time_slot_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.time_slot
    ADD CONSTRAINT time_slot_pkey PRIMARY KEY (timeslot_id);


--
-- Name: tip tip_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tip
    ADD CONSTRAINT tip_pkey PRIMARY KEY (tipid);


--
-- Name: token_blacklist token_blacklist_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist
    ADD CONSTRAINT token_blacklist_pkey PRIMARY KEY (id);


--
-- Name: transaction_method transaction_method_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction_method
    ADD CONSTRAINT transaction_method_pkey PRIMARY KEY (transaction_methodid);


--
-- Name: transaction transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction
    ADD CONSTRAINT transaction_pkey PRIMARY KEY (transactionid);


--
-- Name: appointment uk1xll6bdcxth96kidod0vdf0wn; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.appointment
    ADD CONSTRAINT uk1xll6bdcxth96kidod0vdf0wn UNIQUE (agora_channel_name);


--
-- Name: token_blacklist uk479yp5jc6091k9yltm2as3pgf; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist
    ADD CONSTRAINT uk479yp5jc6091k9yltm2as3pgf UNIQUE (jti);


--
-- Name: users uk6dotkott2kjsp8vw4d0m25fb7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk6dotkott2kjsp8vw4d0m25fb7 UNIQUE (email);


--
-- Name: password_reset_tokens uk71lqwbwtklmljk3qlsugr1mig; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT uk71lqwbwtklmljk3qlsugr1mig UNIQUE (token);


--
-- Name: transaction ukc0v4f7sae6qxnc1s9et0nne2p; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction
    ADD CONSTRAINT ukc0v4f7sae6qxnc1s9et0nne2p UNIQUE (subscriptionid);


--
-- Name: fcm_token ukd83f58imj8mrd7j9ddrg9d7pd; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fcm_token
    ADD CONSTRAINT ukd83f58imj8mrd7j9ddrg9d7pd UNIQUE (token);


--
-- Name: coach_schedule ukebcpv8lnbf843buxisa01x5fp; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coach_schedule
    ADD CONSTRAINT ukebcpv8lnbf843buxisa01x5fp UNIQUE (coach_id, timeslot_id, schedule_date);


--
-- Name: transaction_method ukfm8n1laveerlaxg9gfnt9xfps; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction_method
    ADD CONSTRAINT ukfm8n1laveerlaxg9gfnt9xfps UNIQUE (method_name);


--
-- Name: plan ukhn0vvcykk4bpi9t12ggjbem6a; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plan
    ADD CONSTRAINT ukhn0vvcykk4bpi9t12ggjbem6a UNIQUE (plan_name);


--
-- Name: craving_trackings uki8b8t6dh6afra82bu28rk190e; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.craving_trackings
    ADD CONSTRAINT uki8b8t6dh6afra82bu28rk190e UNIQUE (daily_summaryid, track_time);


--
-- Name: transaction ukijba405saoj8xser92j4i0ej2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction
    ADD CONSTRAINT ukijba405saoj8xser92j4i0ej2 UNIQUE (external_transaction_id);


--
-- Name: achievement ukkdkc5qa8v59fadj4evqncw75f; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.achievement
    ADD CONSTRAINT ukkdkc5qa8v59fadj4evqncw75f UNIQUE (achievement_name);


--
-- Name: member_achievement ukly0xid2cc37raftq9b0rars15; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member_achievement
    ADD CONSTRAINT ukly0xid2cc37raftq9b0rars15 UNIQUE (memberid, achievementid);


--
-- Name: daily_summary ukmi724uvyupqu1su35fqlyimjr; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_summary
    ADD CONSTRAINT ukmi724uvyupqu1su35fqlyimjr UNIQUE (quit_planid, track_date);


--
-- Name: user_oauth_accounts user_oauth_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_oauth_accounts
    ADD CONSTRAINT user_oauth_accounts_pkey PRIMARY KEY (oauth_id, oauth_provider, user_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (userid);


--
-- Name: weekly_goal weekly_goal_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weekly_goal
    ADD CONSTRAINT weekly_goal_pkey PRIMARY KEY (weekly_goal_id);


--
-- Name: idx_jti; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_jti ON public.token_blacklist USING btree (jti);


--
-- Name: coach_schedule fk103jfle2mn6grmkln6w9il4cm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coach_schedule
    ADD CONSTRAINT fk103jfle2mn6grmkln6w9il4cm FOREIGN KEY (coach_id) REFERENCES public.coach(coach_id);


--
-- Name: qualification fk1bdml1ndvwrtrw4c4lselr7f3; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qualification
    ADD CONSTRAINT fk1bdml1ndvwrtrw4c4lselr7f3 FOREIGN KEY (coach_id) REFERENCES public.coach(coach_id);


--
-- Name: quiz fk1lcqmkvipo0s931w3f84b1pay; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz
    ADD CONSTRAINT fk1lcqmkvipo0s931w3f84b1pay FOREIGN KEY (created_by_adminid) REFERENCES public.users(userid);


--
-- Name: quit_plan fk3h5ki6cdpafsf64p8oxu5oq06; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quit_plan
    ADD CONSTRAINT fk3h5ki6cdpafsf64p8oxu5oq06 FOREIGN KEY (memberid) REFERENCES public.member(memberid);


--
-- Name: follows fk45sy1jkos9oy1j4by9y7225nm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT fk45sy1jkos9oy1j4by9y7225nm FOREIGN KEY (followed_id) REFERENCES public.users(userid);


--
-- Name: option fk50egvxekidil8m6x3u0rfr6yx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.option
    ADD CONSTRAINT fk50egvxekidil8m6x3u0rfr6yx FOREIGN KEY (quizid) REFERENCES public.quiz(quizid);


--
-- Name: member_achievement fk5ttpu4mud220tn8hnqept7ms0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member_achievement
    ADD CONSTRAINT fk5ttpu4mud220tn8hnqept7ms0 FOREIGN KEY (memberid) REFERENCES public.member(memberid);


--
-- Name: comments fk7h839m3lkvhbyv3bcdv7sm4fj; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT fk7h839m3lkvhbyv3bcdv7sm4fj FOREIGN KEY (parent_comment_id) REFERENCES public.comments(comment_id);


--
-- Name: member_achievement fk800tidyvhh830r4w93o56wjha; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member_achievement
    ADD CONSTRAINT fk800tidyvhh830r4w93o56wjha FOREIGN KEY (achievementid) REFERENCES public.achievement(achievementid);


--
-- Name: health_metrics fk887uooe4p0l3kwmyplbdd9tjd; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.health_metrics
    ADD CONSTRAINT fk887uooe4p0l3kwmyplbdd9tjd FOREIGN KEY (user_id) REFERENCES public.users(userid);


--
-- Name: comments fk8omq0tc18jd43bu5tjh6jvraq; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT fk8omq0tc18jd43bu5tjh6jvraq FOREIGN KEY (user_id) REFERENCES public.users(userid);


--
-- Name: comments fk9aakob3a7aghrm94k9kmbrjqd; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT fk9aakob3a7aghrm94k9kmbrjqd FOREIGN KEY (blog_id) REFERENCES public.blogs(blog_id);


--
-- Name: subscription fk_subscription_plan; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscription
    ADD CONSTRAINT fk_subscription_plan FOREIGN KEY (planid) REFERENCES public.plan(planid);


--
-- Name: subscription fk_subscription_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscription
    ADD CONSTRAINT fk_subscription_user FOREIGN KEY (userid) REFERENCES public.users(userid);


--
-- Name: transaction fk_transaction_plan; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction
    ADD CONSTRAINT fk_transaction_plan FOREIGN KEY (planid) REFERENCES public.plan(planid);


--
-- Name: transaction fk_transaction_subscription; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction
    ADD CONSTRAINT fk_transaction_subscription FOREIGN KEY (subscriptionid) REFERENCES public.subscription(subscriptionid);


--
-- Name: transaction fk_transaction_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction
    ADD CONSTRAINT fk_transaction_user FOREIGN KEY (userid) REFERENCES public.users(userid);


--
-- Name: blogs fka50aecrwgs9matwo944benpio; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.blogs
    ADD CONSTRAINT fka50aecrwgs9matwo944benpio FOREIGN KEY (approved_by) REFERENCES public.users(userid);


--
-- Name: appointment fkcn15v66r5umq03di5vkryjd1h; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.appointment
    ADD CONSTRAINT fkcn15v66r5umq03di5vkryjd1h FOREIGN KEY (schedule_id) REFERENCES public.coach_schedule(schedule_id);


--
-- Name: appointment fkdbsjt9114v0t55d97yv1paneh; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.appointment
    ADD CONSTRAINT fkdbsjt9114v0t55d97yv1paneh FOREIGN KEY (member_id) REFERENCES public.member(memberid);


--
-- Name: craving_trackings fkdd74fyn4s7km1amvlmk6t5hu7; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.craving_trackings
    ADD CONSTRAINT fkdd74fyn4s7km1amvlmk6t5hu7 FOREIGN KEY (daily_summaryid) REFERENCES public.daily_summary(daily_summaryid);


--
-- Name: daily_summary fkf894b1qtyysukhdmebl24vfli; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_summary
    ADD CONSTRAINT fkf894b1qtyysukhdmebl24vfli FOREIGN KEY (quit_planid) REFERENCES public.quit_plan(quit_planid);


--
-- Name: weekly_goal fkfms7h0dt4dv01fijx6k2on16a; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weekly_goal
    ADD CONSTRAINT fkfms7h0dt4dv01fijx6k2on16a FOREIGN KEY (quit_plan_id) REFERENCES public.quit_plan(quit_planid);


--
-- Name: member fkgcxcbci1gxcl3bxixrpiottay; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member
    ADD CONSTRAINT fkgcxcbci1gxcl3bxixrpiottay FOREIGN KEY (memberid) REFERENCES public.users(userid);


--
-- Name: tip fkiv6xxqc4b1vnbnku86ig5nuwg; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tip
    ADD CONSTRAINT fkiv6xxqc4b1vnbnku86ig5nuwg FOREIGN KEY (created_by_userid) REFERENCES public.users(userid);


--
-- Name: option fkjgh0l759aie0wb3a2imfg3yr6; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.option
    ADD CONSTRAINT fkjgh0l759aie0wb3a2imfg3yr6 FOREIGN KEY (created_by_adminid) REFERENCES public.users(userid);


--
-- Name: coach_schedule fkkmylwwgbrfw0y2fu455hiew1y; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coach_schedule
    ADD CONSTRAINT fkkmylwwgbrfw0y2fu455hiew1y FOREIGN KEY (timeslot_id) REFERENCES public.time_slot(timeslot_id);


--
-- Name: programs fklja42ow8lg5iseb5dled3yip1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.programs
    ADD CONSTRAINT fklja42ow8lg5iseb5dled3yip1 FOREIGN KEY (created_by_user_id) REFERENCES public.users(userid);


--
-- Name: user_oauth_accounts fklkuinqstu5ypmj8j0gg6mv575; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_oauth_accounts
    ADD CONSTRAINT fklkuinqstu5ypmj8j0gg6mv575 FOREIGN KEY (user_id) REFERENCES public.users(userid);


--
-- Name: coach fkmkmvv6ew7piijb7hxqegb6o89; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coach
    ADD CONSTRAINT fkmkmvv6ew7piijb7hxqegb6o89 FOREIGN KEY (coach_id) REFERENCES public.users(userid);


--
-- Name: challenge fkpjjhafa5ppbwk22rxakv6qjrb; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.challenge
    ADD CONSTRAINT fkpjjhafa5ppbwk22rxakv6qjrb FOREIGN KEY (memberid) REFERENCES public.member(memberid);


--
-- Name: follows fkqnkw0cwwh6572nyhvdjqlr163; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT fkqnkw0cwwh6572nyhvdjqlr163 FOREIGN KEY (follower_id) REFERENCES public.users(userid);


--
-- Name: coach_specialties fkrga6t0o5bq4fqo7qgn3pphb2; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coach_specialties
    ADD CONSTRAINT fkrga6t0o5bq4fqo7qgn3pphb2 FOREIGN KEY (coach_id) REFERENCES public.coach(coach_id);


--
-- Name: blogs fkt8g0udj2fq40771g38t2t011n; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.blogs
    ADD CONSTRAINT fkt8g0udj2fq40771g38t2t011n FOREIGN KEY (author_id) REFERENCES public.users(userid);


--
-- PostgreSQL database dump complete
--

